html, 
body {
            background-color: lightgreen;
            margin-left: 25px;
            margin-right: 25px;
            
       }

h2 {
      position: relative;
    float: center;
    text-decoration: underline;
    font-style: comic;
    font-size: 25px;
    margin-left:30%;
    margin-top: 0%;
    width: 30%
}
h3 {
    background-color: Brown;
    font-size: 35px;
}
 .img1 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
}
 .img2 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: right;
}
.img3 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: center;
    margin-left: 30%;
}

.img4 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: right;
    margin-left: 100px;
}
.img5 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: left;
    margin-left: 100px;
}
.img6 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: right;
    margin-left: 100px;
}
.img7 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: left;
    margin-left: 100px;
}
.img8 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: right;
    margin-left: 100px;
}
.img9 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: left;
    margin-left: 100px;
}
.img10 {
     position: relative;
    padding: 5px;
    width: 30%;
    height: 200px;
    float: right;
    margin-left: 100px;
}

nav, ul {
      position: relative;
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 0;
    background-color:black;
}
li {
      position: static;
    display: block;
    font-size: 20px;
    float: left;
    height: 100%;
    width: 14%;
    text-align: center;
    line-height: 50px;
    margin-left: 0%;
}
.footer {
  background:Brown;
  color: grey;
  margin-top:5%;
 text-align:center;
  font-size: 25px;
 width: 95%x;
 height: 200px;
  font-family: 'Open Sans', sans-serif;
}

